---
import ResearchTopic from "@/components/pageContent/research/ResearchTopic.astro";

import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";

import imageUrlBuilder from "@sanity/image-url";

const builder = imageUrlBuilder(sanityClient);
const urlFor = (source: string) => builder.image(source);

const researchTopics: Array<SanityDocument> = await sanityClient.fetch(
  `*[_type == "researchTopic"] |
  order(order desc)
  {title, longDescription, image, imagesAndVideos, _id, publications[]->{_id, title, text}}`,
);
---

<div class="grid grid-cols-1 gap-4 pt-6">
  {
    researchTopics.map((researchTopic: SanityDocument, key: number) => (
      <ResearchTopic
        title={researchTopic.title}
        longDescription={researchTopic.longDescription}
        featuredImage={urlFor(researchTopic.image).url()}
        imagesAndVideos={researchTopic.imagesAndVideos}
        publications={researchTopic.publications}
        id={researchTopic._id}
        key={key}
      />
    ))
  }
</div>
