---
const { title, description, image } = Astro.props;
---

<div
  class="border border-neutral-900 bg-stone-50 rounded-md group transition shadow-md hover:shadow-xl"
>
  <a
    class="divide-y divide-neutral-900"
    href={`/research#${title.toLowerCase()}`}
  >
    <div class="p-2">
      <h3 class="text-xl font-serif font-semibold">{title}</h3>
      <p class="leading-snug">{description}</p>
    </div>
    <div class="">
      <img
        class="object-cover w-full grayscale group-hover:grayscale-0"
        src={image}
        height="200"
        width="300"
        alt={`Header for the ${title} research topic`}
      />
    </div>
  </a>
</div>
