---
const { title, description } = Astro.props;
---

<div
  class="border border-black bg-neutral-100 rounded-md hover:opacity-90 transition hover:scale-[1.02] shadow-md hover:shadow-xl"
>
  <a
    class="divide-y divide-neutral-900"
    href={`/research#${title.toLowerCase()}`}
  >
    <div class="p-2">
      <h3 class="text-xl font-serif font-semibold">{title}</h3>
      <p>{description}</p>
    </div>
    <div class="">
      <img
        class="object-cover w-full"
        src=`https://picsum.photos/seed/${title}/300/200`
        height="200"
        width="300"
        alt={`Header image for the ${title} research topic`}
      />
    </div>
  </a>
</div>
